@import "tailwindcss";

:root {
  --primary: #ff6b6b;
  --primary-dark: #ff5252;
  --secondary: #4ecdc4;
  --accent: #7f5af0;
  --background: #16161a;
  --foreground: #fffffe;
}

.dark {
  --primary: #ff6b6b;
  --primary-dark: #ff5252;
  --secondary: #4ecdc4;
  --accent: #7f5af0;
  --background: #16161a;
  --foreground: #fffffe;
}

@layer base {
  body {
    font-family: sans-serif;
    color: var(--foreground);
    background-color: var(--background);
  }
}

@layer components {
  .gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to right,
      var(--primary),
      var(--accent),
      var(--secondary)
    );
  }

  .btn-primary {
    padding: 0.75rem 1.5rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: all 0.2s;
  }

  .card {
    background-color: rgb(24, 24, 27);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: all 0.2s;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.gradient-border {
  position: absolute;
  top: -0.5%;
  left: -1%;
  width: 102%;
  height: 101%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #00ff00,
    #00cc00 43%,
    #006600
  );
  z-index: -10;
  animation: magic 2.5s linear infinite;
}

@keyframes magic {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
.shiny-btn {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border: none;
}
.shiny-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%; /* bắt đầu ngoài nút */
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
}

.shiny-btn:hover::before {
  animation: shine 1s forwards;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
